body{
	background-color: #f7f7f8;
	display: block;
	padding: 0;
	margin: 0;
}
header{
  position: fixed; 
  background-position: center;
  background-color: white;
  width: 84.7%;
  top: 0vh;
  left: 7.6%;
  box-shadow: 0 0.333333rem 1.111111rem 0 rgba(0,0,0,0.06);
  z-index: 100;
}
ul{
	list-style-type: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 550;
	padding: 18px;
	display: flex;
    justify-content: center;
    align-items: center;
}
li a{
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	color: #070707;
}
li{
	float: left;
}
.logo{
	position: absolute;
	width: 100px;
	width: 134PX;
	top: 30%;
	left: 3.3%;
}
.box1{
	position: center;
	background-color: white;
	margin: 28px;
	margin-top: 0px;  
	top: 0vh;
	border: 0px;
}
.b1{
   position: absolute;
   font-family: sans-serif;
   letter-spacing: 0;
   width: 39%;
   padding: 0;
   margin: 0;
   top: 30%;
   left: 10%;
   font-weight: 500;
}
.b1 h1{
	color: #070707;
	font-size: 62.2222px;
	line-height: 1.12;
}
.b1 p{
	color: #5C5856;
	font-size: 18px;
	line-height: 1.75;
}
.img1{
      margin-left: 803px;
}
.b1button1{
	position: absolute;
	top: 84%;
	left: 10%;
	font-family: sans-serif;
	background-color: #EF3D5B;
	color: white;
	font-size: 17px;
	padding: 10px;
	border: 0.00005px;
	border-radius: 2rem;
	padding-right: 10px;
	align-items: center;
    justify-content: center;
    padding: 1rem 1.666667rem;
}
.b1button2{
	position: absolute;
	top: 84%;
	left: 20%;
	font-family: sans-serif;
	background-color: white;
	color: #5C5856;
	font-size: 17px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 2rem;
	padding-right: 10px;
	align-items: center;
    justify-content: center;
    padding: 1rem 1.666667rem;	
}
.box2{
	position: center;
	background-color: white;
	margin: 28px;
	height: 120%;
	padding-top: 143px;
	padding-left: 120px;
	padding-bottom: 400px;
}
.b2h{
	position: absolute;
	font-family: sans-serif;
	font-size: 14.222px;
	line-height: 0;
	background-color: #FBC6CF;
	color: #EF3D5B;
	letter-spacing: 0.111111rem;
	border-radius: 30px;
	display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.111111rem; 
    font-weight: 600;
    margin-bottom: 10px;
    left: 65%;
    top: 135%;
    height: 4%;
 }
 .img2{
 	margin-left: 0px;
 }
.b21{
	position: absolute;
	left: 65%;
	width: 25%;
	font-family: sans-serif;
	top: 138%; 
}
.b21 h2{
	font-size: 39.111px;
	color: #070707;
	line-height: 1.23;
	letter-spacing: 0;
}
.b21 p{
	font-size: 18px;
	color: #5C5856;
	line-height: 1.75;
    letter-spacing: -0.013rem;
}
.b22{
	position: absolute;
	left: 67%;
	width: 25%;
	font-family: sans-serif;
	top: 188%;
	width: 17%; 
}
.b22 h4{
	font-size: 21.333px;
	color: #070707;
}
.b22 p{
	font-size: 16px;
	color: #5C5856;
	line-height: 1.75;
    letter-spacing: -0.013rem;
}
.b23{
	position: absolute;
	font-family: sans-serif;
	top: 222%;
	left: 16%;
	width: 18%;
}
.b23 h4{
    font-size: 21.333px;
	color: #070707;
}
.b23 p{
	font-size: 16px;
	color: #5C5856;
	line-height: 1.75;
    letter-spacing: -0.013rem;
}
.b24{
	position: absolute;
	font-family: sans-serif;
	top: 222%;
	left: 42%;
	width: 18%;
}
.b24 h4{
	font-size: 21.333px;
	color: #070707;
}
.b24 p{
	font-size: 16px;
	color: #5C5856;
	line-height: 1.75;
    letter-spacing: -0.013rem;	
}
.b25{
	position: absolute;
	font-family: sans-serif;
	top: 222%;
	left: 67%;
	width: 18%;
}
.b25 h4{
	font-size: 21.333px;
	color: #070707
}
.b25 p{
	font-size: 16px;
	color: #5C5856;
	line-height: 1.75;
    letter-spacing: -0.013rem;	
}
.box3{
	position: center;
	background-color: white;
	margin: 28px;
}
.box4{
    position: center;
	background-color: white;
	margin: 28px;
}
.b4h{
   position: absolute;
   font-family: sans-serif;
   font-size: 14.222px;
   line-height: 0;
   background-color: #FBC6CF;
   color: #EF3D5B;
   letter-spacing: 0.111111rem;
   border-radius: 30px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0rem 1.111111rem; 
   font-weight: 600;
   margin-bottom: 10px;
   left: 10%;
   top: 337%;
   height: 4.4%;

}
.b41{
   position: absolute;
   left: 10%;
   width: 30%;
   font-family: sans-serif;
   top: 342%; 
}
.b41 h2{
	font-size: 39.111px;
	color: #070707;
	line-height: 1.33;
	letter-spacing: 1;
}
.b41 p{
	font-size: 18px;
	color: #5C5856;
	line-height: 1.75;
    letter-spacing: -0.013rem;
}
.b4ul{
   position: absolute;
   top: 365%;
   left: 11%;
   display: block;
   vertical-align: middle;
}
.b4ul ul{
	text-decoration-style: none;
	display: block;
	vertical-align: middle;
	float: left;
	width: 20%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: normal;
    line-height: 1.75;
    letter-spacing: -0.013rem;
    color: #070707;
    box-sizing: inherit;
}
.b4button{
    position: absolute;
    top: 395%;
    left: 11%;
    font-family: sans-serif;
    background-color: white;
    color: #5C5856;
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2rem;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.666667rem;
}
.img4{
	padding-left: 750px;
}	
.box5{
    position: center;
	background-color: white;
	margin: 28px;
	display: block;	
}
.b5h{
	position: absolute;
	background-color: #FBC6CF;
    border-radius: 30px;
    font-size: 12.5PX;
    letter-spacing: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    color: #EF3D5B;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20PX;
    font-family: sans-serif;
    box-sizing: inherit;
    margin: 0px;
    top: 437%;
    left: 58%;
    height: 25px;
}
.b51{
	position: absolute;
	top: 442%;
	width: 30%;
	left: 58%;
}
.b51 h2{
	line-height: 1.23;
	letter-spacing: 2;
	font-weight: 600;
	margin-bottom: .5em;
    box-sizing: inherit;
    color: #070707;
    font-family: sans-serif;
    font-size: 39.111px;
}
.b51 p{
	font-size: 17PX;
	color: #5C5856;
	margin-bottom: .5em;
    box-sizing: inherit;
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: -0.013rem;
    color: #070707;
    font-family: sans-serif;
}
.b5button{
    position: absolute;
    top: 491%;
    left: 58%;
    font-family: sans-serif;
    background-color: white;
    color: #5C5856;
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2rem;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.666667rem;
}
.b5ul{
	position: absolute;
    top: 468%;
    left: 58%;
    display: block;
    vertical-align: middle;
}
.b5ul ul{
	text-decoration-style: none;
	display: block;
	vertical-align: middle;
	float: left;
	width: 37%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: normal;
    line-height: 1.75;
    letter-spacing: -0.013rem;
    color: #070707;
    box-sizing: inherit;
}
.box7{
	position: center;
	background-color: white;
	margin: 28px;
}
.b71{
    
}
.b72{
    
}
.b73{

}
.box8{
    position: center;
	background-color: #EF3D5B;
}
.b8h{
    position: absolute;
	background-color: rgba(255,255,255,0.3);
    border-radius: 30px;
    font-size: 12.5PX;
    letter-spacing: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    color: white;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20PX;
    font-family: sans-serif;
    box-sizing: inherit;
    margin: 0px;
    top: 580%;
    left: 11%;
    height: 25px;
}
.b81{
    position: absolute;
    top: 585%;
    left: 11%;
}
.b81 h2{
    line-height: 1.23;
	letter-spacing: 2;
	font-weight: 600;
	margin-bottom: .5em;
    box-sizing: inherit;
    color: white;
    font-family: sans-serif;
    font-size: 39.111px;
    width: 40%;
}
.b81 p{
    font-size: 17PX;
	color: white;
	margin-bottom: .5em;
    box-sizing: inherit;
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: -0.013rem;
    font-family: sans-serif;
    width: 38%;
}
.b8button{
    position: absolute;
    top: 618%;
    left: 11%;
    font-family: sans-serif;
    background-color: white;
    color: #5C5856;
    font-size: 15px;
    padding: 10px;
    border: none; 
    border-radius: 2rem;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.666667rem;
}
.img8{
	padding-left: 920px;
	padding-top: 55px;
}